@import '../../styles/variables';

.dialog__item {
    $root: &;

    display: flex;
    flex-direction: row;
    padding: 5px 0;
    cursor: pointer;
    &.active {
        background-color: #9fa0fc;
        #{$root}__content {
            &__top {
                &__date {
                    color: white;
                }
            }
            &__bottom {
                &__text {
                    color: white;
                }
            }
        }
    }
    &:hover {
        background:linear-gradient(160deg, rgba(80,63,245,1) 0%, rgba(127,140,255,1) 100%);
            #{$root}__content {
                &__top {
                    &__sender {
                        color: white;
                    }
                    &__date {
                        color: $white;
                    }
                }
                &__bottom {
                    &__text {
                        color: $white;
                    }
                }
            }
    }
    &__content {
        width: 100%;
        padding-right: 5px;
        &__top {
            display: flex;
            flex-direction: row;
            margin-bottom: 7px;
            margin-top: 3px;
            &__sender {
                flex: auto;
                font-weight: bold;
                font-size: 13px;
                color: $text-strong;
            }
            &__date {
                font-size: 13px;
                color: $text-light;
            }
        }
        &__bottom {
            display: flex;
            flex-direction: row;
            &__text {
                flex: auto;
                color: $text-light;
                font-size: 13px;
                max-width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__count {
                position: relative;
                background: #F46B6B;
                border-radius: 50%;
                border: 3px solid #FFFFFF;
                width: 20px;
                height: 20px;
                font-size: 11px;
                color: white;
                span {
                    position: absolute;
                    top: 2px;
                    left: 4.5px;
                    font-weight: bold;
                }
            }
        }
    }
}