@import "~styles/variables";

@keyframes traffic {
    0% { background: #80808000 }
    50% { background: white }
    100% { background: #80808000 }
}

.message {
    $self: &;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    &__avatar {
        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 0 13px;
        }
    }
    &__content {
        position: relative;
        &__wrapper {
            background-color: $blue;
            box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
            border-radius: 12px 12px 12px 0px;
            border: 1px solid #9393ff;
            padding: 15px;
            max-width: 400px;
        }
        &__text {
            color: #fff;
            font-size: 14px;
        }
        &__date {
            opacity: 0.5;
            color: grey;
            font-size: 12px;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
        &__attachment {
            max-height: 300px;
            max-width: 250px;
            border-radius: 5%;
        }
    }
    &__status {
        margin-left: 5px;
        margin-top: 20px;
        &__icon {
            width: 13px;
            height: 13px;
            display: block;
            background-size: 13px;
            background-repeat: no-repeat;
            &.not-readed {
                background-image: url("https://scontent.whatsapp.net/v/t61/75483711_197278827977344_6771325507275531384_n.bin?_nc_sid=2fbf2a&_nc_oc=AQnK--O9NY9GyJ9qB4yod4Wo2yy4fEJzaR8DQfqhGm1o6iohilGo1KKEK3hENieFQ7Q&_nc_ht=scontent.whatsapp.net&oh=25cc9731228b127aa4f75d029c5bde6a&oe=5E662D70");
            }
            &.readed {
                background-image: url("https://scontent.whatsapp.net/v/t61/71885541_154979245805311_353004469470968214_n.bin?_nc_sid=2fbf2a&_nc_oc=AQkYHv3EYPnPxAV9mIhMwojcAZgIVOE2tT-2Ohz7F53nq4fMnd_omjQEH6-D30oPeN0&_nc_ht=scontent.whatsapp.net&oh=edbc363fb20665e344d31bdd1b3cabe8&oe=5E652BE0");
            }
        }
    }
    &--friend {
        flex-direction: row-reverse;
        
        #{$self}__content {
            &__wrapper {
                background: #FFFFFF;
                border: 1px solid #ECECEC;
                border-radius: 12px 12px 0px 12px;
            }
            &__text {
                color: $black;
                font-size: 14px;
            }
            &__date {
                right: 5px;
                left: unset;
            }
        }
        #{$self}__status {
            margin-right: 5px;
        }
    }

    &--typing {
        #{$self}__content {
            &__typing {
                list-style: none;
                display: flex;
                li {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    margin: 2px 2px ;
                }
                li:nth-of-type(1) {
                    animation: traffic 1.5s infinite;
                }
                li:nth-of-type(2) {
                    animation: traffic 1.5s infinite 0.35s;
                }
                li:nth-of-type(3) {
                    animation: traffic 1.5s infinite 0.7s;
                }
            }
        }
    }
}